<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Kod Tabanlı Giriş Çıkış</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>QR Kod Tabanlı Giriş Çıkış</h1>
        <input type="text" id="employeeId" placeholder="Çalışan ID" required>
        <input type="text" id="location" placeholder="Konum" required>
        <button id="registerEntryButton">Giriş Yap</button>
        <button id="registerExitButton">Çıkış Yap</button>
        <div id="message"></div>
    </div>
    <script src="script.js"></script>
</body>
</html>
